{% load static %}
<link rel="stylesheet" href="{% static 'css/blogApp.css' %}">

<!DOCTYPE html>
<html>
    <header class="page-header">
        <div class="container">
            <h1><a href="/">Berat's Blog</a></h1>
            {% if user.is_authenticated %}
                <h1><a href="{% url 'post_new' %}" class="top-menu">
                    {% include './icons/file-earmark-plus.svg' %}
                </a>
            {% endif %}
        </h1>
        </div>

    </header>
    
    <body>
        <header class="page-header">
          <div class="container">
              <h1><a href="/">Blog</a></h1>
          </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </main>
    </body>


</html>